.slidev-layout h1 + p {
  opacity: 1;
}

p {
  font-size: 1.5rem;
}

:root {
  /* --slidev-code-font-size: 2rem; */
}

.slidev-layout h1 {
  margin-bottom: 1rem;
  margin-left: -0.05em;
  font-size: 2.25rem;
  line-height: 2.5rem;
}
